.article_wrap
	margin-bottom: 30px
	padding: 0 0 0 10px

.article_main_img
	height: auto
	border: 1px solid $bcolor
	border-radius: 3px
	margin-bottom: 15px
.article_main_img.center
	width: 100%

.article_main_img.right
	width: 40%
	float: left
	margin-right: 15px
.article_prev
	box-sizing: content-box
	display: inline-block
.article_sepotate
	height: 2px
	border: none
	background-color: $accent
	margin: 20px 0
.article
