.contact_map
	border-top: 1px solid $bcolor

.contact_info_wrap
	display: flex
	padding: 30px 0 25px 0
.contact_info
	width: 25%
	display: flex
	padding-right: 10px


	[class^="icon-"],
	[class*=" icon-"]
		flex: none
		display: inline-block
		height: 40px
		width: 40px
		line-height: 40px
		font-size: 22px
		text-align: center
		color: #ffffff
		border-radius: 50%
		background-color: $accent
		margin: 0  12px 12px 0

.contact_info_conten

.contact_info_title
	font-size: .9em
	color: #333333
	margin: 0
.contact_info_txt
	font-size: .85em
	line-height: 1.4em
	color: #666666
.contact_info

.contact_info_content
.contact_info_title
.contact_info_txt


.contact_ask
	width: 25%
	display: flex
	.product-buy-btn-fast
		margin: 0 auto

.contact_elem_list
.contact_elem
	display: flex
.contact_elem_logo_link
	display: block
	width: 150px
	flex: none
.contact_elem_logo
	max-width: 70px
.contact_elem_info
	width: 70%
.contact_elem_title
	font-size: 1.1em
.contact_elem_title_link
	color: #333333
	transition: color .15s ease-in-out
	&:hover,
	&:focus
		text-decoration: none
		color: $accent
.contact_elem_list
.icon-envelop

.contact_elem_item
.icon-location
.icon-clock
.contact_elem_phones
	width: 30%
.contact_elem_item
.contact_elem_phoe-link
